<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= image_tag 'https://arenametrix.com/hubfs/Arenametrix_theme_aug2023/Logo-Arenametrix-%C3%A9criture-verte.png', alt: 'Arenametrix Logo', class: 'logo', size: '100' %>
      <form class="form-inline my-2 my-lg-0" id="filterForm" action="/reservations/indicators" method="get">
  <select class="form-select mr-sm-2" name="scope" id="scopeSelect">
    <option value="all" <%= 'selected' if @selected_scope == 'all' %>>All</option>
    <option value="by_spectacle" <%= 'selected' if @selected_scope == 'by_spectacle' %>>By Spectacle ID</option>
    <option value="by_representation" <%= 'selected' if @selected_scope == 'by_representation' %>>By Representation ID</option>
  </select>
        <select class="form-select mr-sm-2" name="id" id="idSelect">
          <% @dropdown_options.each do |option| %>
            <option value="<%= option %>">
              <%= option[:name]%>
            </option>
          <% end %>
        </select>
        <button class="import-submit" type="submit">Obtenir</button>
      </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><span style='font-size:60px;'>&#129518;</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Get a reference to the second dropdown
    var idSelect = document.getElementById("idSelect");
    var dropdownOptionsEmpty = <%= @dropdown_options.nil? || @dropdown_options.empty? %>;
    if (dropdownOptionsEmpty) {
        idSelect.style.display = "none";
    }

    document.getElementById("scopeSelect").addEventListener("change", function() {
        if (this.value === "all") {
            idSelect.style.display = "none";
        } else {
            idSelect.style.display = "inline-block";
            document.getElementById("filterForm").submit();
        }
    });
});
</script>
