<body>
<%= render "import" %>
<div class="table-container">
<table class="content-table">
  <thead>
    <tr>
      <!--
      <th class='sortable <%= "sorted-#{@sort_order}" if @sort_column == "id" %>' data-sortable="id">Id</th>
      <th class='sortable <%= "sorted-#{@sort_order}" if @sort_column == "start_date" %>' data-sortable="start_date">Start Date</th>
      <th class='sortable <%= "sorted-#{@sort_order}" if @sort_column == "deadline" %>' data-sortable="deadline">Deadline</th>
      -->
      <th>Id</th>
      <th>Numero billet</th>
      <th>Reservation</th>
      <th>Date reservation</th>
      <th>Heure reservation</th>
      <th>Cle spectacle</th>
      <th>Spectacle</th>
      <th>Cle representation</th>
      <th>Representation</th>
      <th>Date representation</th>
      <th>Heure representation</th>
      <th>Date fin representation</th>
      <th>Heure fin representation</th>
      <th>Prix</th>
      <th>Type de produit</th>
      <th>Filiere de vente</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Code postal</th>
      <th>Pays</th>
      <th>Age</th>
      <th>Sexe</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.ticket_number %></td>
        <td><%= reservation.reservation_external_id %></td>
        <td><%= reservation.reservation_date %></td>
        <td><%= reservation.reservation_time %></td>
        <td><%= reservation.spectacle.spectacle_external_id %></td>
        <td><%= reservation.spectacle.spectacle_name %></td>
        <td><%= reservation.representation.representation_external_id %></td>
        <td><%= reservation.representation.representation_name %></td>
        <td><%= reservation.representation.representation_date %></td>
        <td><%= reservation.representation.representation_time %></td>
        <td><%= reservation.representation.representation_end_date %></td>
        <td><%= reservation.representation.representation_end_time%></td>
        <td><%= reservation.prix %></td>
        <td><%= reservation.type_of_product %></td>
        <td><%= reservation.sales_chanel %></td>
        <td><%= reservation.client.last_name %></td>
        <td><%= reservation.client.first_name %></td>
        <td><%= reservation.client.email %></td>
        <td><%= reservation.client.address %></td>
        <td><%= reservation.client.zip_code %></td>
        <td><%= reservation.client.country %></td>
        <td><%= reservation.client.age %></td>
        <td><%= reservation.client.sex %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>
</body>
