<body style="background-image: url('https://images.unsplash.com/photo-1635776062043-223faf322554?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
<%= render "import" %>
<div class="table-container">
<table class="content-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Numéro billet</th>
      <th>Réservation</th>
      <th>Date réservation</th>
      <th>Heure réservation</th>
      <th>Clé spectacle</th>
      <th>Spectacle</th>
      <th>Clé représentation</th>
      <th>Représentation</th>
      <th>Date représentation</th>
      <th>Heure représentation</th>
      <th>Date fin représentation</th>
      <th>Heure fin représentation</th>
      <th>Prix</th>
      <th>Type de produit</th>
      <th>Filière de vente</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Code postal</th>
      <th>Pays</th>
      <th>Age</th>
      <th>Sexe</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.ticket_number %></td>
        <td><%= reservation.reservation_external_id %></td>
        <td><%= formatted_date(reservation.reservation_date) %></td>
        <td><%= formatted_time(reservation.reservation_time) %></td>
        <td><%= reservation.spectacle.spectacle_external_id %></td>
        <td><%= reservation.spectacle.spectacle_name %></td>
        <td><%= reservation.representation.representation_external_id %></td>
        <td><%= reservation.representation.representation_name %></td>
        <td><%= formatted_date(reservation.representation.representation_date) %></td>
        <td><%= formatted_time(reservation.representation.representation_time) %></td>
        <td><%= formatted_date(reservation.representation.representation_end_date) %></td>
        <td><%= formatted_time(reservation.representation.representation_end_time)%></td>
        <td><%= reservation.prix %></td>
        <td><%= reservation.type_of_product %></td>
        <td><%= reservation.sales_chanel %></td>
        <td><%= reservation.client.last_name %></td>
        <td><%= reservation.client.first_name %></td>
        <td><%= reservation.client.email %></td>
        <td><%= reservation.client.address %></td>
        <td><%= reservation.client.zip_code %></td>
        <td><%= reservation.client.country %></td>
        <td><%= reservation.client.age %></td>
        <td><%= reservation.client.sex %></td>
      </tr>
    <% end %>
  </tbody>

</table>
</div>
</body>
